<div class="input-container">
	<div class="single-propertiy-container">
		<label for="firstName">First Name</label>
		<input type="text" id="firstName" placeholder="Enter First Name" [(ngModel)]="entry.vorname" />
	</div>
	<div class="single-propertiy-container">
		<label for="lastName">Last Name</label>
		<input type="text" id="lastName" placeholder="Enter Last Name" [(ngModel)]="entry.nachname" />
	</div>
	<div class="single-propertiy-container">
		<label for="phonePrefix">Phone Prefix</label>
		<input type="text" id="phonePrefix" placeholder="Enter Phone Prefix" [(ngModel)]="entry.telefonVorwahl" />
	</div>
	<div class="single-propertiy-container">
		<label for="phoneNumber">Phone Number</label>
		<input type="text" id="phoneNumber" placeholder="Enter Phone Number" [(ngModel)]="entry.telefonnummer" />
	</div>
</div>
<div class="button-container">
	<button class="primary-btn" (click)="hide()">Cancel</button>
	<button class="primary-btn" (click)="onSave()">Save</button>
</div>