:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  background-color: var(--phonebook-bg);
  color: var(--active-font-color);
  font-size: 32px;
  font-weight: bold;
}
