<div class="single-entry-value-container">{{entry.id}}</div>
<div class="single-entry-value-container">{{entry.firstName}}</div>
<div class="single-entry-value-container">{{entry.lastName}}</div>
<div class="single-entry-value-container">{{entry.phonePrefix}}</div>
<div class="single-entry-value-container">{{entry.phoneNumber}}</div>
<div class="single-entry-value-container">
	<button class="primary-btn" (click)="onEdit()"><span>Edit</span></button>
</div>
<div class="single-entry-value-container">
	<button class="primary-btn" (click)="onDelete()"><span>Delete</span></button>
</div>