<div class="search-field-container">
	<input type="text" class="search-field" placeholder="Search for an entry by name" [ngModel]="searchTerm"
		(input)="onSearch($event)" />
</div>
<div class="entries-table-header-container">
	<div class="entries-table-header">ID</div>
	<div class="entries-table-header">First Name</div>
	<div class="entries-table-header">Last Name</div>
	<div class="entries-table-header">Phone Prefix</div>
	<div class="entries-table-header">Phone Number</div>
	<div class="entries-table-header">Edit Entry</div>
	<div class="entries-table-header">Delete Entry</div>
</div>
<div class="entries-table-container">
	<app-entry *ngFor="let entry of entries" [entry]="entry" (deleteEntry)="handleDelete($event)" />
</div>
<div class="add-btn-container">
	<button class="primary-btn" (click)="showEntryDetail()"><span>Add Entry</span></button>
</div>
<app-entry-detail (save)="addNewEntry($event)" />