<div class="description-container">
	<h2>Choose your favourite Phonebook-API </h2>
</div>
<div class="switch-container">
	<div class="control-container">
		<div class="api-name-container"><label for="java">Java Phonebook API</label>
			<div class="custom-radio-container"><input class="custom-radio" type="radio" name="fav-api" id="java"></div>
		</div>
		<div class="api-name-container"><label for="dotnet">.Net Phonebook API</label>
			<div class="custom-radio-container"><input class="custom-radio" type="radio" name="fav-api" id="dotnet">
			</div>
		</div>
	</div>

	<div class="api-status-message-container">
		<div id="api-status-ok" class="d-none">API is running</div>
		<div id="api-status-error" class="d-none">API is not running</div>
	</div>
</div>